extends layout 

block content 
    .timeline 
        .followings.half 
            h2 팔로잉 목록
            if user.Followings 
                for following in user.Followings 
                    div= following.nick
        .followiers.half 
            h2 팔로우 목록
            if user.Followers 
                for follower in user.Followers 
                    div= follower.nick